/* Body Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 1600px;
}

/* Shared Style */
.font-work-sans {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  color: #005fac;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 26px;
  border-radius: 5px;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Header Style */

header {
  background: url("../images/banner/banner3.png");
}

.banner_content {
  padding: 216px 230px 156px 860px;
  text-align: right;
}

.banner_content h1 {
  font-size: 65px;
  color: white;
  font-weight: bold;
  margin-bottom: 24px;
}

.banner_content p {
  font-size: 16px;
  color: white;
  line-height: 26px;
  margin-bottom: 32px;
}
